.row {
    text-align: center;
}

.week {
  display: block;
  padding: 0px 20px 0px 10px;
  font-size: 40px;
  font-family: "Playball", cursive;
}

div.weather-pic {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.WeatherForecast-day,
.col,
.forecast-temperatures {
  text-align: center;
  font-family: "Arima Madurai", cursive;
  text-transform: capitalize;
}

.temperature-max {
  opacity: 0.9;
}

.temperature-min {
  opacity: 0.6;
}